.bigone{
    height: 100vh;
    width: 100vw;
}
.us1{
    background-image: url(NY.gif);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    line-height: 50vh; /* hauteur de ligne (identique) */
    white-space: nowrap; /* interdiction de passer à la ligne */
    display: flex;
}
.us1 p{
    font-size: 80px;
    font-weight: 600;
    color: white;
    top: 0;
    left: 0;
    margin: 0;
    justify-content: center;
    align-content: center;
    align-self: center;


}