.bigone{
    height: 100vh;
    width: 100vw;

}
.main1{
    display: flex;
    flex-direction: column;
    background: #37a223;
}
#sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 100px;
}
/* le titre */
.titrenz{
  animation: tirenz 4s ease 1s 1 normal forwards;
  font-size: 35px;
  opacity: 0;
}
@keyframes tirenz {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(100px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }
}

.loader__ring {
    transform-origin: center;
  }
  .loader__inscription {
    position: relative;
    width: 100%;
    transform-origin: center;
    animation: ring 60s linear infinite, opacity 1.5s linear infinite alternate;
    z-index: 1;

  }
  .loader__container{
      width: 100%;
      height: 100%;

  }

  .loader__innerring {
    position: absolute;
    transform-origin: center;
    width: 28%;
    left: 37%;
    top: 20%;
    animation: pivote 3s linear infinite;
    z-index: auto;
    border-radius: 50%;
  }
#golum:hover{
    cursor: url(../images/golum.png), auto;
    display: block;
}

  .loader__innerring a{
      width: 100%;
      height: 100%;

  }
  @keyframes ring {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
#sec3{
    display: flex;
    line-height: 1.5em;
    background: #37a223;
    padding-top: 200px;
}
.agauche{
    width: 30%;
    height: auto;
    position: relative;
}
.agauche img{
    width: 100%;
    height: auto;
}

.adroite{
    width: 30%;
    height: auto;
    position: relative;
}
.adroite img{
    width: 100%;
    height: auto;
}
.aumilieu{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
}
.flag{
    width: 100%;
    height: auto;
    margin: 0;
}
.aumilieu h1{
    margin: 0;
}
.balon{
    position: absolute;
    width: 10%;
    height: 10%;
    top: 143%;
    left: 21%;
    animation: translate 10s ease-in-out alternate infinite,
                rotate 10s ease-in alternate infinite ;
    
}
.balon img{
    width: 100%;
    height: auto;

}
@keyframes translate{
    from{
        top: 333%;
        left: 21%;
    }
    to{
            top: 320%;
            left: 65%;
    }
}
@keyframes rotate{
    0%{
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  50% {
      transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#sec2{
  margin-top: 300px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
  background: #37a223;
}
.desc{
  width: 80%;
}
/* slide de fin */
#sec4{
  background-color: #37a223;
}
.slide {
  width: 600px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin-left: 30%;
  margin-top: 25%;
  margin-bottom: 20px;
  background-color: #37a223;
  border: 8px solid #fff;
  box-shadow: 10px 10px 30px rgb(0, 0, 0);
}
.slide > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  animation: slide 25s infinite;
  opacity: 0;
}
.slide > div:nth-child(2) {
  animation-delay: 5s;
}
.slide > div:nth-child(3) {
  animation-delay: 10s;
}
.slide > div:nth-child(4) {
  animation-delay: 15s;
}
.slide > div:nth-child(5) {
  animation-delay: 20s;
}
@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale(1.2);
  }
}
